.tab-content {
  padding-bottom: 50px;
}
.--pro_container {
  margin-left: 120px;
}
.--btn_white {
  background-color: var(--white);
  color: var(--black);
  border: 1px solid var(--lightgreen);
  border-radius: 8px;
}
.unitab-container.--pro_container {
  margin-bottom: 20px;
}
.--pro_tab {
  border-bottom: 1px solid var(--gray);
  width: 65%;
  margin: auto;
  border: none !important;
}
.pro_btn {
  display: flex;
  gap: 20px;
}

.prospect_tab {
  background-color: #f5f5f4;
  height: 50px;
  margin-bottom: 200px;
  border-radius: 8px;
}
.prospect_main {
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  background-color: var(--white);
}
.prospect-details {
  display: flex;
  gap: 20px;
  margin: 10px 0px;
  font-size: 12px;
  color: var(--smtext);
}

.pro_p p {
  font-size: 12px !important;
}
.pro1,
.pro_p {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.pro1 span {
  font-weight: 400 !important;
}
.pro1 strong,
.pro_p strong {
  color: var(--black);
  font-size: 12px !important;
  font-weight: 400 !important;
}
.c_badge {
  border-radius: 9999px;
  font-size: 13px;
  color: var(--white);
  background-color: #a855f7;
  padding: 2px 12px;
}
.--pnt {
  margin-top: 10px;
  color: black;
  background-color: var(--white);
  width: fit-content;
  padding: 0px 8px;
  border: 1px solid var(--lightgreen);
  font-weight: 500;
  font-size: 12px;
}
.pnotes {
  display: flex;
  gap: 10px;
}
.prospect_header {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  flex-wrap: wrap;
}
.prospect_header h3,
.prospect_header strong {
  font-size: 16px;
  font-size: 16px;
}

.prospect_header p {
  margin-bottom: unset;
  font-size: 14px;
}

.--pro_badge {
  width: 25px;
  height: 25px;
  font-size: 12px;
  background-color: #e6e7e9;
  color: var(--black);
}
.count_flex {
  display: flex;
  gap: 8px;
}

@media only screen and (max-width: 1024px) {
  .--pro_container {
    margin-left: unset;
  }
  .pro_btn {
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 475px) {
  .pro_btn {
    gap: 9px;
    flex-wrap: wrap;
    margin-bottom: 10px;
  }
  .--pro_container {
    margin-left: unset;
  }
}
